body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 18px;
    text-align: justify;
}
h1{
    font-size: 60px;
    line-height: 50px;
    color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 48px;
    line-height: 30px;
    color: #1e1a33;
}
h3{
    font-size: 36px;
    line-height: 20px;
    color:#333333 ;
}
h4{
    font-size: 24px;

}
h5{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
span{
    color: #F59760;
}

.hero-bannar{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}
#hero-bordar{
    border-left: 5px solid #5C4FC7;
    padding-left: 1%;
}
.more{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 15px;
    color: #1e1a33;
}

.hero-child{
    width: 50%;
}
.hero-child img{
    padding-left: 10%;
    width: 70%;
}
.global-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #5C4FC7,#614cfb);
    font-size: 18;
    font-weight: 400;
    color: white;
}
.my-timeline h2{
    text-align: center;
}
.my-timeline-parent{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.my-timeline-childs{
    width: 30%;
    margin: 1%;
    padding: 2%;

}
.my-timeline-childs img{
    width: 60%;
}
.my-timeline-childs p{
    color: #424242;
    font-size: 16;
}
#vission{
    background-color: #4f9da626;
    border-radius: 20px;
}
#mission{
    background-color: #9582ff21;
    border-radius: 20px;
}
#goal{
    background-color: #f7ac6149;
    border-radius: 20px;
}
.portfolio{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-size: 15%;
    background-image: url(../image/shape-1.png);
    background-position:bottom left;
    background-repeat: no-repeat;
}
.portfolio-child{
    width: 50%;
    padding: 5%;
}
.portfolio-child img{
    width: 80%;
}

.group{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-size: 15%;
    background-image: url(../image/shape-1.png);
    background-position:bottom right;
    background-repeat: no-repeat;
}
.group-child{
    width: 50%;
    padding: 5%;
}
.group-child img{
    width: 80%;
}
.project-heading{
    text-align: center;
    color: black;
}
.projects-parents{
    display: flex;
    width: 60%;
    margin: 50px auto;
    padding: 2% 4%;
    box-shadow: 10px 10px 30px #1e1a33;
}
.projects-child{
    width: 33%;
    text-align: center;
}
.projects-child p{
    text-align: center;
}
footer{
    padding: 30px 0px;
    background-color: #1e1a33;
    text-align: center;
}
footer p{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
footer h3{
    color: white;
}